
.register{
    height : calc(100vh - 50px);
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background : url("https://cdn.pixabay.com/photo/2018/12/09/08/58/christmas-3864540_960_720.jpg");
    background-size : cover;
}

.registerTitle{
    font-size : 50px;
}

.registerForm{
    margin-top : 20px;
    display : flex;
    flex-direction: column;
}

.registerForm > label{
    margin : 10px 0;
}

.registerInput{
    padding : 10px;
    background-color : white;
    border : none;
}

.registerButton{
    margin-top : 20px;
    cursor : pointer;
    background-color : teal;
    border : none;
    color : white;
    border-radius : 10px;
    padding : 10px;
}

.registerloginButton{
    position : absolute;
    top : 60px;
    right : 20px;
    background-color :lightcoral;
    cursor : pointer;
    border : none;
    padding : 10px;
    color : white;
    border-radius : 10px;
}