
.singlePost{
    flex : 9;
}

.singlePostWrapper{
    padding : 20px;
    padding-right : 0;
}

.singlePostImg{
    width : 100%;
    height : 400px;
    border-radius : 5px;
    object-fit : cover;
}

.singlePostTitle{
    text-align : center;
    margin : 10px;
    font-family: 'Comfortaa', cursive;
    font-size : 30px;
}

.singlePostEdit{
    float : right;
    font-size : 20px;
}

.singlePostIcon{
    margin-left : 10px;
    cursor : pointer;
}

.singlePostIcon:first-child{
    color : teal;
}

.singlePostIcon:last-child{
    color :tomato;
}

.singlePostInfo{
    margin-bottom : 20px;
    display : flex;
    justify-content:space-between;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    color : #b39656;

}

.singlePostDesc{
    font-size : 18px;
    color : #666;
    line-height: 25px;
}

.singlePostDesc::first-letter{
    margin-left : 20px;
    font-size : 30px;
    font-weight : 600;
}

